ALTER TABLE bookings ADD COLUMN status ENUM('pending', 'approved', 'declined') DEFAULT 'pending';
ALTER TABLE bookings ADD COLUMN admin_reason TEXT NULL;
ALTER TABLE bookings ADD COLUMN admin_action_date DATETIME NULL;
